.form-container {
    display: flex;
    flex-direction: column;
    // border: 1px solid #00a2ff;
    padding-top: 0px;
    border-radius: 20px;
    
    h1 {
        align-self: center;
        margin-bottom: 5vh;
    }

    .form-el {
        display: flex;
        align-items: center;
        position: relative;
        margin: 10px 0;

        .input-label {
            position: absolute;
            top: 10px;
            left: 20px;
            color: gray;
            transition: all .2s linear;
            font-size: large;
            z-index: 1;
        }

        .form-input {
            margin: 5px 0;
            font-size: medium;
            height: 5vh;
            width: 30vw;
            border-radius: 5px;
            padding: 2px 20px;
            background-color: transparent;
            outline: none;
            border: 0;
            border-bottom: solid 1px black;
            z-index: 2;

            &:focus + .input-label {
                top: -15px;
                color: black;
            }
        }

        .input-filled {
            position: absolute;
            top: -15px;
            color: gray;
            left: 20px;
            transition: all .2s linear;
            font-size: large;
            z-index: 1;
        }

        
    }

    .form-button {
        margin-top: 5vh;
        height: 8vh;
        width: 50%;
        align-self: center;
        background-color: var(--primary-color);
        border-radius: 20px;
        transition: all .2s linear;        
        font-size: large;
        border: 0;
    }

    .form-button:hover {
        box-shadow: 0 0 5px 1px gray;
        cursor: pointer;
    }

}

.logSignInContainer {
    box-shadow: 0 0 2px 2px var(--secondary-color);
    width: fit-content;
    margin: 10vh auto;
    padding: 2vh 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;

    .alert {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .password-remember {
        color: gray;
        background-color: transparent;
        border: 0;
        margin: 5px;
        cursor: pointer;
        transition: all .2s linear;

        &:hover {
            color: rgb(78, 78, 78);
        }
    }

    .signInBTN {
        width: 60%;
        height: 8vh;
        margin: 2vh;
        background-color: transparent;
        transition: all .2s linear;
        border-radius: 10px;
        font-size: medium;

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 5px 1px gray;
        }
    }

    .logInBTN {
        margin: 2vh;
        background-color: transparent;
        transition: all .2s linear;
        border: 0;
        color: gray;

        &:hover {
            cursor: pointer;
            color: var(--primary-color);
        }
    }


}
// #2bce04
