.pageCont {
    width: 100%;
    height: 100%;
    display: flex;

    .tasksColumn {
        padding: 5vh 3vw;
        width: 40%;
        height: 100vh;
        border-right: 1px solid black;
        display: flex;
        flex-direction: column;
        transition: all .2s ease;
        background: linear-gradient(to right, var(--secondary-color), 10vw, var(--background-color));
        overflow-y: auto;

        h1 {
            align-self: center;
        }

        .createTaskBTN {
            align-self: center;
            min-width: 80%;
            min-height: 8%;
            padding: 5px 20px;
            border-radius: 20px;
            margin: 10px;
            background-color: var(--gray);
            color: black;
            font-size: large;
            transition: all .2s linear;

            &:hover {
                transform: scale(1.1);
                box-shadow: 0 0 5px 5px var(--secondary-color);
            }
        }
    }

    .taskColumn {
        padding: 5vh 5vw;
        width: 60%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 0;
        overflow-y: auto;

        .animatedContainer {
            height: 100%;
            width: 100%;
        }

        .changeComponentBTN {
            display: flex;
            position: absolute;
            top: 45%;
            bottom: 45%;
            background-color: var(--gray);
            align-items: center;
            width: 40px;
            height: 40px;
            justify-content: center;
            border-radius: 50%;
            transition: all .2s linear;
            cursor: pointer;

            &:hover {
                background-color: var(--secondary-color);
                box-shadow: 0 0 5px 1px var(--primary-color);
                transform: scale(1.1);
            }

            img {
                height: 25px;
                width: 25px;
            }
        }

        .forward {
            right: 3vw;
        }
        
        .back {
            left: 3vw;
        }
    }
}

